<%= form_for(geofence) do |f| %>
  <% if geofence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geofence.errors.count, "error") %> prohibited this geofence from being saved:</h2>

      <ul>
      <% geofence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :lon %>
    <%= f.text_field :lon %>
  </div>

  <div class="field">
    <%= f.label :radius %>
    <%= f.text_field :radius %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
